In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import janitor

In [56]:
meteorites = pd.read_csv("meteorite_landings.csv").clean_names()

1) Split in column GeoLocation into latitude and longitude, the new latitude and longitude columns should be numeric.

In [57]:
lat_long = meteorites["geolocation"].str.split(pat=",", expand=True)

In [58]:
latitude = lat_long[0].str.extract(r'([\d]+[.][\d]*)')

In [59]:
longtitude = lat_long[1].str.extract(r'([-]*[\d]*[.][\d]*)')

In [60]:
meteorites["longtitude"] = longtitude

In [61]:
meteorites["latitude"] = latitude

In [62]:
meteorites = meteorites.drop(columns="geolocation")

In [63]:
meteorites["latitude"] = meteorites["latitude"].astype("float64")

In [66]:
meteorites["longtitude"] = meteorites["longtitude"].astype("float64")

In [67]:
meteorites

,id,name,mass_g_,fall,year,longtitude,latitude
0,1,Aachen,21.0,Fell,1880.0,6.08333,50.77500
1,2,Aarhus,720.0,Fell,1951.0,10.23333,56.18333
2,4,Abajo,331.0,Found,1982.0,-105.41667,26.80000
3,5,Abbott,21100.0,Found,1951.0,-104.28333,36.30000
4,6,Abee,107000.0,Fell,1952.0,-113.00000,54.21667
...,...,...,...,...,...,...,...
45711,57454,Mandalay Spring,2854.0,Found,2012.0,-118.55319,40.89201
45712,57455,Antelope,754.0,Found,2012.0,-118.54465,40.90183
45713,57456,Northwest Africa 7870,42.0,Found,2004.0,0.00000,0.00000
45714,57457,Northwest Africa 7871,450.0,Found,2004.0,0.00000,0.00000
45715,57458,Northwest Africa 7873,446.0,Found,2009.0,0.00000,0.00000

2) Replace any missing values in latitude and longitude with zeros.

In [69]:
meteorites.info() # check for NAs

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          45716 non-null  int64
 1   name        45716 non-null  object
 2   mass_g_     45585 non-null  float64
 3   fall        45716 non-null  object
 4   year        45417 non-null  float64
 5   longtitude  38401 non-null  float64
 6   latitude    38401 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 2.4+ MB

In [70]:
meteorites["longtitude"] = meteorites["longtitude"].fillna("0")

In [71]:
meteorites["latitude"] = meteorites["latitude"].fillna("0")

In [74]:
meteorites["longtitude"].isna().sum() # check for NAs

0

In [76]:
meteorites["latitude"].isna().sum() # check for NAs

0

3) Remove meteorites less than 1000g in weight from the data.

In [81]:
meteorites = meteorites[meteorites["mass_g_"] >= 1000]

In [82]:
meteorites.describe()

                 id       mass_g_         year
count   4871.000000  4.871000e+03  4814.000000
mean   22885.021351  1.234035e+05  1968.234109
std    16508.512824  1.755279e+06    50.412121
min        5.000000  1.000000e+03  1583.000000
25%    10166.000000  1.686285e+03  1945.000000
50%    18009.000000  3.600000e+03  1990.500000
75%    32661.500000  1.200000e+04  2002.000000
max    57454.000000  6.000000e+07  2013.000000

4) Order the data by the year of discovery.

In [84]:
meteorites = meteorites.sort_values(by="year", ascending=False)