In [1]:
import pandas as pd

In [2]:
import numpy as np

1. Read in the data and investigate it, e.g. variables, variable types, dimensions etc.

In [3]:
wines = pd.read_csv("wine_ratings.csv")

In [5]:
wines.columns

Index(['X1', 'country', 'description', 'designation', 'points', 'price',
       'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [7]:
wines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   X1                     10000 non-null  int64
 1   country                9996 non-null   object
 2   description            10000 non-null  object
 3   designation            7082 non-null   object
 4   points                 10000 non-null  int64
 5   price                  9312 non-null   float64
 6   province               9996 non-null   object
 7   region_1               8403 non-null   object
 8   region_2               3951 non-null   object
 9   taster_name            7933 non-null   object
 10  taster_twitter_handle  7544 non-null   object
 11  title                  10000 non-null  object
 12  variety                10000 non-null  object
 13  winery                 10000 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [8]:
wines.shape

(10000, 14)

In [9]:
wines.describe().T

,count,mean,std,min,25%,50%,75%,max
X1,10000.0,64963.611000,37660.842094,6.0,32294.25,64931.5,98038.25,129963.0
points,10000.0,88.403200,3.057313,80.0,86.00,88.0,91.00,100.0
price,9312.0,34.836877,34.042073,4.0,17.00,26.0,42.00,973.0

2. Select columns title, taster_name, points, price, and country, then drop all NAs. Save into a variable called wine_subset. Use this variable for all subsequent tasks.

In [4]:
wine_subset = wines[["title", "taster_name", "points", "price", "country"]]

In [13]:
wine_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        10000 non-null  object
 1   taster_name  7933 non-null   object
 2   points       10000 non-null  int64
 3   price        9312 non-null   float64
 4   country      9996 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 390.8+ KB

In [5]:
wine_subset = wine_subset.dropna()

3. Find the 5 countries with the highest mean points.

In [24]:
wine_subset.groupby("country").agg({"points": "mean"}).sort_values("points", ascending=False).head(5)

                points
country
England      91.000000
Austria      90.123077
Germany      89.639053
Hungary      89.000000
Switzerland  89.000000

4. Find the 5 countries with the lowest mean prices.

In [27]:
wine_subset.groupby("country").agg({"price": "mean"}).sort_values("price").head(5)

              price
country
Romania    9.800000
Moldova   17.000000
Bulgaria  18.666667
Morocco   20.000000
Peru      20.000000

5. Does the result differ if you use the median instead of the mean for Questions 3 and 4?

In [31]:
wine_subset.groupby("country").agg({"points": "median"}).sort_values("points", ascending=False).head(5)

             points
country
England        91.0
Germany        90.0
Austria        90.0
Hungary        90.0
Switzerland    89.0

In [32]:
wine_subset.groupby("country").agg({"price": "median"}).sort_values("price").head(5)

           price
country
Romania      8.0
Moldova     11.0
Bulgaria    14.0
Chile       15.0
Argentina   16.0

6. Find the names of all the tasters using distinct. Then take a random sample of 5 names using sample_n. Save these 5 names into a new variable called taster_sample which should be a character vector containing only the names.

In [18]:
taster_sample = pd.Series(wine_subset["taster_name"].unique())

In [19]:
taster_sample = taster_sample.sample(5)

In [52]:
taster_sample

2      Michael Schachner
13    Alexander Peartree
14          Carrie Dykes
0        Susan Kostrzewa
15         Mike DeSimone
dtype: object

7. Do the same thing for country, i.e. create a character vector called country_sample using distinct and pull, but this time use sample_frac to pick 10 countries at random.

In [67]:
country_sample = pd.Series(wine_subset["country"].unique())

In [68]:
country_sample = country_sample.sample(10)

In [54]:
country_sample = country_sample.reset_index(drop=True)

8. Filter the rows of wine_subset so you are left only with data from the 5 tasters in your taster_sample and from the countries in your country_sample.

In [69]:
wine_subset.country[country_sample.isin(wine_subset)]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [37]:
country_bool.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [40]:
type(country_bool)

pandas.core.frame.DataFrame

In [41]:
country_bool

,0,1,3,4,6,7,8,9,10,11,...,9991,9993,9994,9995,9996,9997,9998,9999,index,level_0
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [61]:
country_sample

17    Switzerland
11    New Zealand
7       Argentina
19        Lebanon
12         Canada
2         Germany
9           Spain
28           Peru
13         Israel
18        Moldova
dtype: object

In [66]:
wine_subset[wines.country == "Switzerland"]

<ipython-input-66-30a8af760ce1>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  wine_subset[wines.country == "Switzerland"]

,title,taster_name,points,price,country
394,Gantenbein 2011 Pinot Noir (Switzerland),Jeff Jenssen,89,160.0,Switzerland