In [1]:
import pandas as pd

1.Load in the dataset and have a look at it. What are the dimensions, variable types, variable names, etc.?

In [2]:
drinks = pd.read_csv('data/starbucks_drinkMenu_expanded.csv')

In [3]:
drinks.columns

Index(['Beverage_category', 'Beverage', 'Beverage_prep', 'Calories',
       ' Total Fat (g)', 'Trans Fat (g) ', 'Saturated Fat (g)', ' Sodium (mg)',
       ' Total Carbohydrates (g) ', 'Cholesterol (mg)', ' Dietary Fibre (g)',
       ' Sugars (g)', ' Protein (g) ', 'Vitamin A (% DV) ', 'Vitamin C (% DV)',
       ' Calcium (% DV) ', 'Iron (% DV) ', 'Caffeine (mg)'],
      dtype='object')

In [4]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    object
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    object
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(3), int64(6), object(9)
memory usage: 34.2+ KB

In [5]:
len(drinks) # number of rows

242

In [6]:
len(drinks.columns) # number of columns

18

In [7]:
drinks.shape #rows and columns

(242, 18)

In [8]:
drinks.size # rows * columns - number of elements

4356

In [9]:
type(drinks.dtypes)

pandas.core.series.Series

2. Let’s first investigate the calories of different drinks. Select the variables Beverage_category, Beverage, Beverage prep and Calories from your data. Since we are interested in the calorie content, check if there are any NA values in the data, and drop them if there are.

In [3]:
drinks_reduced = drinks.loc[:,'Beverage_category':'Calories']

In [4]:
drinks_reduced.info() # checks if there are null values - there are none

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Beverage_category  242 non-null    object
 1   Beverage           242 non-null    object
 2   Beverage_prep      242 non-null    object
 3   Calories           242 non-null    int64
dtypes: int64(1), object(3)
memory usage: 7.7+ KB

In [12]:
drinks_reduced.Beverage_category.hasnans #can check for each column

False

In [13]:
drinks_reduced.Beverage.hasnans

False

In [14]:
drinks_reduced.Beverage_prep.hasnans

False

In [15]:
drinks_reduced.Calories.hasnans

False

In [16]:
drinks_reduced.count()

Beverage_category    242
Beverage             242
Beverage_prep        242
Calories             242
dtype: int64

3. Create a new variable (column) called calorie_diff, which stores the difference between 135 calories (135 calories = 10 cubes of sugar!) and the calories in each drink. (hint: you’ll want to subtract the calories from 135 to see which drink have more or less than 10 cups of sugar).

In [5]:
drinks_reduced.assign(calories_diff = drinks_reduced["Calories"] - 135)

,Beverage_category,Beverage,Beverage_prep,Calories,calories_diff
0,Coffee,Brewed Coffee,Short,3,-132
1,Coffee,Brewed Coffee,Tall,4,-131
2,Coffee,Brewed Coffee,Grande,5,-130
3,Coffee,Brewed Coffee,Venti,5,-130
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,-65
...,...,...,...,...,...
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,185
238,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170,35
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Whole Milk,200,65
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Soymilk,180,45
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240,105

4. Summarise the mean number of calories in each beverage_category. Which 3 drinks have the most calories? Which 3 drinks have the least? Write a small summary of your findings.

In [6]:
drinks_reduced.groupby('Beverage_category').agg({'Calories':'mean'}).sort_values("Calories").head(3)

                           Calories
Beverage_category
Coffee                     4.250000
Shaken Iced Beverages    114.444444
Classic Espresso Drinks  140.172414

In [7]:
(drinks_reduced.groupby('Beverage_category').agg({'Calories':'mean'})
 .sort_values("Calories", ascending=False).head(3))

                               Calories
Beverage_category
Smoothies                    282.222222
Frappuccino® Blended Coffee  276.944444
Signature Espresso Drinks    250.000000

5. Let’s look at this a different way. What is the average number of calories in each Beverage_prep type?

In [9]:
beverage_prep_summary = (drinks_reduced.groupby('Beverage_prep').agg({'Calories':'mean'})
 .sort_values("Calories", ascending=False))

6. Which Beverage_prep type contains more than the average calories of all drinks?

In [10]:
avg_calories = drinks_reduced["Calories"].mean()

In [12]:
beverage_prep_summary[beverage_prep_summary.loc[:, "Calories"] > avg_calories]

                      Calories
Beverage_prep
Whole Milk          283.750000
Venti Nonfat Milk   260.000000
2% Milk             218.000000
Grande Nonfat Milk  209.615385
Soymilk             207.272727

7. Which is the best type of coffee drink to get if you’re worried about consuming too many calories?