In [1]:
import pandas as pd

In [38]:
import numpy as np

In [5]:
import janitor

1. Read in the data containing dietary compositions and familiarise yourself with it.

In [13]:
diet = pd.read_csv("dietary-composition-by-country.csv")

In [14]:
diet

,Entity,Code,Year,Alcoholic Beverages (FAO (2017)),Animal fats (FAO (2017)),Barley (FAO (2017)),Bovine Meat (FAO (2017)),"Cereals, Other (FAO (2017))",Eggs (FAO (2017)),Fish & seafood (FAO (2017)),...,Poultry Meat (FAO (2017)),Pulses (FAO (2017)),Rice (FAO (2017)),Starchy Roots (FAO (2017)),Sugar & Sweeteners (FAO (2017)),Sugar Crops (FAO (2017)),Nuts & Seeds (FAO (2017)),Vegetable Oils (FAO (2017)),Vegetables (FAO (2017)),Wheat (FAO (2017))
0,Afghanistan,AFG,1961,0.0,47,237.0,28,16,4,0,...,2,16.0,209,25,51,NaN,2.0,26,22,1688
1,Afghanistan,AFG,1962,0.0,47,232.0,30,16,4,0,...,2,17.0,205,22,45,NaN,3.0,31,22,1633
2,Afghanistan,AFG,1963,0.0,50,227.0,30,16,4,0,...,2,17.0,199,23,47,NaN,1.0,38,23,1399
3,Afghanistan,AFG,1964,0.0,51,223.0,30,17,4,0,...,2,18.0,236,24,55,NaN,1.0,33,24,1602
4,Afghanistan,AFG,1965,0.0,53,218.0,30,17,4,0,...,2,18.0,230,24,57,NaN,2.0,33,24,1607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8976,Zimbabwe,ZWE,2009,67.0,46,1.0,37,76,7,3,...,20,56.0,33,56,209,0.0,2.0,252,10,249
8977,Zimbabwe,ZWE,2010,66.0,44,1.0,35,77,7,4,...,20,49.0,64,54,223,0.0,4.0,253,12,231
8978,Zimbabwe,ZWE,2011,66.0,37,1.0,35,79,6,6,...,22,39.0,86,56,232,0.0,3.0,265,12,231
8979,Zimbabwe,ZWE,2012,79.0,33,2.0,34,56,6,6,...,23,35.0,101,55,264,0.0,4.0,280,11,242
8980,Zimbabwe,ZWE,2013,76.0,28,2.0,34,58,6,6,...,17,36.0,101,54,268,0.0,4.0,273,11,243

In [8]:
diet.columns

Index(['entity', 'code', 'year', 'alcoholic_beverages_fao_2017_',
       'animal_fats_fao_2017_', 'barley_fao_2017_', 'bovine_meat_fao_2017_',
       'cereals_other_fao_2017_', 'eggs_fao_2017_', 'fish_&_seafood_fao_2017_',
       'fruit_fao_2017_', 'maize_fao_2017_', 'meat_other_fao_2017_',
       'milk_fao_2017_', 'miscellaneous_fao_2017_',
       'mutton_&_goat_meat_fao_2017_', 'oilcrops_fao_2017_',
       'pigmeat_fao_2017_', 'poultry_meat_fao_2017_', 'pulses_fao_2017_',
       'rice_fao_2017_', 'starchy_roots_fao_2017_',
       'sugar_&_sweeteners_fao_2017_', 'sugar_crops_fao_2017_',
       'nuts_&_seeds_fao_2017_', 'vegetable_oils_fao_2017_',
       'vegetables_fao_2017_', 'wheat_fao_2017_'],
      dtype='object')

2. Change the data to long format with food categories going to a column called kcal_source and the calorie values going to a column called avg_daily_kcals. Save into variable diet_comp_clean

In [16]:
diet_comp_clean = diet.melt(id_vars=["Entity", "Code", "Year"], var_name= "kcal_source", value_name = "avg_daily_kcals")

In [17]:
diet_comp_clean

,Entity,Code,Year,kcal_source,avg_daily_kcals
0,Afghanistan,AFG,1961,Alcoholic Beverages (FAO (2017)),0.0
1,Afghanistan,AFG,1962,Alcoholic Beverages (FAO (2017)),0.0
2,Afghanistan,AFG,1963,Alcoholic Beverages (FAO (2017)),0.0
3,Afghanistan,AFG,1964,Alcoholic Beverages (FAO (2017)),0.0
4,Afghanistan,AFG,1965,Alcoholic Beverages (FAO (2017)),0.0
...,...,...,...,...,...
224520,Zimbabwe,ZWE,2009,Wheat (FAO (2017)),249.0
224521,Zimbabwe,ZWE,2010,Wheat (FAO (2017)),231.0
224522,Zimbabwe,ZWE,2011,Wheat (FAO (2017)),231.0
224523,Zimbabwe,ZWE,2012,Wheat (FAO (2017)),242.0
224524,Zimbabwe,ZWE,2013,Wheat (FAO (2017)),243.0

3. Clean kcal_source categories by removing any unnecessary information. Then clean all column names, and rename the column ‘entity’ to ‘country’. Overwrite diet_comp_clean with your results.

In [20]:
diet_intermediate = diet_comp_clean["kcal_source"].str.split(pat="[(*]", expand=True) #split on encountering a '('

In [24]:
diet_intermediate = diet_intermediate[0]

In [25]:
diet_comp_clean["kcal_source"] = diet_intermediate

In [29]:
diet_comp_clean = diet_comp_clean.clean_names()

In [62]:
diet_comp_clean["country"]= diet_comp_clean["entity"]

In [66]:
diet_comp_clean = diet_comp_clean.drop(columns="entity")

4. Check how many missing values there are in each column

In [71]:
diet_comp_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224525 entries, 0 to 224524
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   code             221875 non-null  object
 1   year             224525 non-null  int64
 2   kcal_source      224525 non-null  object
 3   avg_daily_kcals  216499 non-null  float64
 4   country          224525 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 8.6+ MB

In [35]:
diet_comp_clean.shape[0] - diet_comp_clean["code"].count() #number of missing values in code

2650

In [36]:
diet_comp_clean.shape[0] - diet_comp_clean["avg_daily_kcals"].count()#number of missing values in avg_daily_kcals

8026

5. Let’s investigate the missing values in column code further. First, check which countries are missing a code. Save these as a character vector, and use this vector to check whether you can find their code anywhere in the dataset, i.e. is the code missing for every observation for these countries.

In [85]:
diet_comp_clean[diet_comp_clean["code"].isna()].groupby("country").agg({'code':'sum'})

                          code
country
Cabo Verde                   0
United States of America     0

In [114]:
country_array = diet_comp_clean[diet_comp_clean["code"].isna()].country.unique()

In [118]:
diet_comp_clean[diet_comp_clean["country"].isin(country_array)].code.unique()

array([nan], dtype=object)

6. Google tells us there’s something called ISO Alpha-3 codes which look pretty promising. Wait, what’s that in your data folder? Read it in! Then find the missing codes!

In [119]:
codes = pd.read_csv("country_codes.csv")

In [130]:
codes[codes["Country"] == "United States"]

           Country Alpha-2 code Alpha-3 code
240  United States           US          USA

In [137]:
codes[codes["Country"] == "Cape Verde"]

       Country Alpha-2 code Alpha-3 code
40  Cape Verde           CV          CPV

7. Using a suitable recoding function, fill in the lost (but now found) country codes. Overwrite diet_comp_clean again. Finally, check that there are now no missing values in the code column.

In [141]:
diet_comp_clean['code'] = np.where(diet_comp_clean['country'] == "United States of America", "USA", diet_comp_clean['code'])

In [144]:
diet_comp_clean[diet_comp_clean["country"] == "United States of America"].head(1)

,code,year,kcal_source,avg_daily_kcals,country
8473,USA,1961,Alcoholic Beverages,109.0,United States of America

In [147]:
diet_comp_clean['code'] = np.where(diet_comp_clean['country'] == "Cabo Verde", "CPV", diet_comp_clean['code'])

In [148]:
diet_comp_clean[diet_comp_clean["country"] == "Cabo Verde"].head(1)

     code  year           kcal_source  avg_daily_kcals     country
1294  CPV  1961  Alcoholic Beverages              15.0  Cabo Verde

In [149]:
diet_comp_clean["code"].isna().sum() # there are now no NAs

0