In [1]:
import pandas as pd

1. List all the roles, along with the actors who played each role in The Little Mermaid. (In the data as “Little Mermaid, The”)

In [2]:
movies = pd.read_csv("movies.csv")

In [3]:
actors = pd.read_csv("actors.csv")

In [5]:
roles = pd.read_csv("roles.csv")

In [16]:
movies_roles = movies.merge(roles, left_on="id", right_on="movie_id")

In [17]:
movies_roles[movies_roles["name"] == "Little Mermaid, The"]

,id,name,year,rank,actor_id,movie_id,role
893,192017,"Little Mermaid, The",1989,7.3,2925,192017,Additional Voices
894,192017,"Little Mermaid, The",1989,7.3,12987,192017,Additional Voices
895,192017,"Little Mermaid, The",1989,7.3,19873,192017,Louis
896,192017,"Little Mermaid, The",1989,7.3,24660,192017,Atina
897,192017,"Little Mermaid, The",1989,7.3,28218,192017,Eric
898,192017,"Little Mermaid, The",1989,7.3,70137,192017,Additional Voices
899,192017,"Little Mermaid, The",1989,7.3,103007,192017,Additional Voices
900,192017,"Little Mermaid, The",1989,7.3,103728,192017,Additional Voices
901,192017,"Little Mermaid, The",1989,7.3,107687,192017,Additional Voices
902,192017,"Little Mermaid, The",1989,7.3,172915,192017,Additional Voices
903,192017,"Little Mermaid, The",1989,7.3,181392,192017,Additional Voices
904,192017,"Little Mermaid, The",1989,7.3,191424,192017,Scuttle
905,192017,"Little Mermaid, The",1989,7.3,194181,192017,Additional Voices
906,192017,"Little Mermaid, The",1989,7.3,298874,192017,Flounder
907,192017,"Little Mermaid, The",1989,7.3,300405,192017,Triton
908,192017,"Little Mermaid, The",1989,7.3,312299,192017,Additional Voices
909,192017,"Little Mermaid, The",1989,7.3,366808,192017,Additional Voices
910,192017,"Little Mermaid, The",1989,7.3,413114,192017,Seahorse
911,192017,"Little Mermaid, The",1989,7.3,474929,192017,Additional Voices
912,192017,"Little Mermaid, The",1989,7.3,505244,192017,Additional Voices
913,192017,"Little Mermaid, The",1989,7.3,506067,192017,Additional Voices
914,192017,"Little Mermaid, The",1989,7.3,517767,192017,Grimsby
915,192017,"Little Mermaid, The",1989,7.3,518067,192017,Sebastian
916,192017,"Little Mermaid, The",1989,7.3,551171,192017,Ariel
917,192017,"Little Mermaid, The",1989,7.3,573523,192017,Ursula
918,192017,"Little Mermaid, The",1989,7.3,573952,192017,Additional Voices
919,192017,"Little Mermaid, The",1989,7.3,578128,192017,Ariel (French Langauge Versio
920,192017,"Little Mermaid, The",1989,7.3,593617,192017,Additional Voices
921,192017,"Little Mermaid, The",1989,7.3,610800,192017,Flotsam/Jetsam
922,192017,"Little Mermaid, The",1989,7.3,616663,192017,Additional Vocalist
923,192017,"Little Mermaid, The",1989,7.3,698334,192017,Additional Voices
924,192017,"Little Mermaid, The",1989,7.3,715702,192017,Carlotta
925,192017,"Little Mermaid, The",1989,7.3,716748,192017,Additional Voice
926,192017,"Little Mermaid, The",1989,7.3,770448,192017,Alana

2. Find the actor who has appeared in most films. List the films they appeared in, the year the film was released and their role in the film.

In [60]:
most_popular_actor = actors.sort_values(by="film_count", ascending=False).head(1)["id"].values[0]

In [62]:
movies_roles.loc[movies_roles["actor_id"] == most_popular_actor]

,id,name,year,rank,actor_id,movie_id,role
30,17173,Animal House,1978,7.5,22591,17173,Chip Diller
77,18979,Apollo 13,1995,7.5,22591,18979,Jack Swigert
332,111813,"Few Good Men, A",1992,7.5,22591,111813,Capt. Jack Ross
429,116907,Footloose,1984,5.8,22591,116907,Ren McCormack
564,147603,Hollow Man,2000,5.3,22591,147603,Sebastian Caine
588,167324,JFK,1991,7.8,22591,167324,Willie O'Keefe
1028,224842,Mystic River,2003,8.1,22591,224842,Sean Devine
1304,257264,"Planes, Trains & Automobiles",1987,7.2,22591,257264,Taxi racer
1682,314965,Stir of Echoes,1999,7.0,22591,314965,Tom Witzky

3. For all actors who have appeared in at least two films, find the average rating of the films they appeared. Find the five actors with the highest average rank of films they appeared in.

In [103]:
all_combi = movies_roles.merge(actors, left_on="actor_id", right_on="id")

In [104]:
all_combi_2 = all_combi[all_combi.film_count > 1].sort_values(by="film_count", ascending=False)

In [107]:
(all_combi_2.groupby(["actor_id", "last_name", "first_name"])
 .agg({"rank":"mean"}).sort_values(by="rank", ascending=False)).head(5)

                                  rank
actor_id last_name    first_name
159346   Freeman      Morgan (I)   9.0
211557   Holden       Larry (I)    8.7
49922    Boone Junior Mark         8.7
55108    Brandenburg  Larry        8.6
405572   Rolston      Mark         8.6